---
layout: main
volanta: Entrevista al físico médico Darío Sanz
main_title: "\"La radioterapia puede realizarse hasta en un 70% de los pacientes con diagnóstico temprano de cáncer\""
note_author: Tomás Acevedo, Martín Nieva y Luciano Vivinetto
subtitle: Darío Sanz es Ingeniero Nuclear, egresado en 1993 en el Instituto Balseiro, y también Doctor en Ingeniería nuclear por el mismo Instituto (en 2003).
authors:
    - Tomás Acevedo
    - Martín Nieva
    - Luciano Vivinetto
main_category: Ciencia
also_look1:
    - "4N: 13 chicos fallecidos por alcoholismo en Terrazas del Este"
    - 4n.jpg
also_look2:
    - La profesora de Física, Marina Morgantini, gana el Premio Nóbel de la Física 2019
    - Morgantini.png
---
<p>
La física médica es la aplicación de principios de la física a la medicina o la atención de la salud. Es básicamente una manera de usar nuestro conocimiento de la física para desarrollar herramientas y tratamientos que ayudan a que vivamos más tiempo y a ser más saludables.
Hay muchas ramas de la física médica. Las principales son la <strong>radiología</strong> y la <strong>medicina nuclear</strong>.
La física se puede encontrar también en otras áreas de la medicina. Por ejemplo, muchos sistemas de ventilación asistida no serían posibles sin el conocimiento sobre la presión del fluido de modo que la presión aplicada sea el apropiado. De hecho, se podría argumentar que cualquier tecnología avanzada o electrónico utilizado en la medicina no existiría sin el conocimiento del universo que hemos adquirido a través de la física.
</p>

{% include also_look.html img="4n.jpg" text="4N: 13 chicos fallecidos por alcoholismo en Terrazas del Este" %}

<p>
<strong><em>Física médica: Radiología diagnóstica</em></strong><br>
Radiología de diagnóstico es esencialmente una forma de imagen médica. Todos los métodos de imagen médica que utilizamos requieren la presencia de un físico en la consulta. Estas tecnologías son complejas y sólo pueden ser reparadas por quienes los entienden.
Los escáneres MRI utilizan los principios de magnetismo para tomar imágenes de alta calidad del interior del cuerpo humano, especialmente el cerebro. Estos aparatos trabajan básicamente mediante la observación del espín nuclear y la distribución de las moléculas de hidrógeno. Dado que los humanos son alrededor de 70% de agua, tenemos un montón de moléculas de hidrógeno que pueden darnos información sobre la estructura de un órgano.
</p>
<p>
Los <strong>rayos X</strong> son una forma de tomar imágenes de la estructura esquelética del cuerpo.
</p>
<p>
El <strong>ultrasonido </strong> utiliza ondas sonoras de alta frecuencia que los seres humanos pueden tolerar. Estos ultrasonidos crean imágenes de los tejidos blandos sin dañarlos, por lo que se utilizan sobre todo para crear imágenes de bebés dentro del vientre materno.
</p>

{% include also_look.html img="Morgantini.png" text="La profesora de Física, Marina Morgantini, gana el Premio Nóbel de la Física 2019" %}

<p>
<strong><em>Física Médica: Medicina Nuclear</em></strong><br>
La medicina nuclear es una parte de la medicina que usa <strong>radiación</strong> tanto para tratar una enfermedad como para proporcionar imágenes e información sobre lo que está sucediendo dentro del cuerpo de una persona. La radiación puede usarse para destruir las células cancerosas y tratar órganos enfermos. Sin embargo, existe un cierto solapamiento entre la medicina nuclear y radiodiagnóstico porque la medicina nuclear también se puede utilizar para diagnosticar. Los trazadores radiactivos se utilizan para crear imágenes de los sistemas corporales. Incluso podemos crear fotografías regulares del interior del cuerpo usando radiación a través de la tomografía axial computarizada (TAC) o escáneres de tomografía por emisión de positrones (PET)
</p>

<br>
<br>

<p>
<span style="display: block; text-align: center; margin: 0; padding: 0;"><strong><em>Entrevista a Darío Sanz</em></strong></span>
<span style="display: block; text-align: center;"><strong>¿Podría explicar qué son las radiaciones ionizantes? ¿Cuándo comenzaron a utilizarse para tratar el cáncer?</strong></span>
<br>
La <strong>radiación ionizante</strong> es una forma de transmisión o emisión de energía que cuando impacta en la materia puede producir desprendimiento de electrones de sus átomos y moléculas. Este efecto de arrancar electrones pertenece a lo que se denomina ionización. Por ejemplo, la luz visible es una forma de radiación, pero con energía insuficiente para ionizar átomos. Los rayos X, que son un tipo de radiación ionizante, comenzaron a utilizarse para el tratamiento del cáncer a finales del siglo XIX. A mediados del siglo XX ya se utilizaban muchas otras partículas, como los rayos de electrones, protones y neutrones, cada uno con características y fines específicos.
</p>
<br>

<p>
<span style="display: block; text-align: center;"><strong>¿Qué tasa de éxito tiene el tratamiento de radioterapia en general?</strong></span>
<br>
En escenarios de diagnóstico temprano de la enfermedad, la radioterapia puede realizarse hasta en un 70% de los pacientes, con intención de cura en más del 50% de los casos con tratamientos curativos, por lo que su éxito es innegable. Para aumentar la eficacia de la radioterapia se está trabajando en lo que se denomina radioterapia guiada por imágenes. De esta manera la localización de la zona a irradiar es más exacta, preservando los órganos de riesgo y el tejido sano, y permitiendo entregar dosis más altas en el área de interés
</p>
<br>
<p>
<span style="display: block; text-align: center;"><strong>Usted coordina la Maestría en Física médica del Instituto Balseiro. ¿Podría contar a qué se pueden dedicar los físicos médicos hoy en Argentina?</strong></span>
<br>
La Física Médica incluye la utilización de conceptos y leyes de la física para la prevención, el diagnóstico, el tratamiento y el seguimiento de enfermedades. Existen áreas bien definidas que competen a la Física Médica, incluyendo las físicas de: radioterapia, medicina nuclear, radiodiagnóstico y protección radiológica. Otras aplicaciones de la Física Médica son la resonancia magnética, el ultrasonido, el láser, la dosimetría, la nanotecnología y la electromedicina. En este sentido, nuestros egresados se pueden desempeñar en cualquier aplicación de la Física Médica ya que son formados con materias específicas en las cuatro disciplinas mencionadas.
</p>
<br>
