<div class="sp__SM">
<div class="content-new  ">
<span class="tit-mobile">Mirá también</span>
<div class="mg">
<div class="wrap-figure">
<figure>
<a href="#!" target="_self">
<img class="img-responsive" alt="" src="fonts/lazy_square.svg" data-big="{{ site.baseurl }}/images/{{ include.img }}" data-small="{{ site.baseurl }}/images/{{ include.img }}" observer data-observer-function="loadLazyImg">
</a>
</figure>
</div>
</div>
<div class="mt">
<span>Mirá también</span>
<a href="#!" target="_self">
<h2>{{ include.text }}<h2>
</a>
</div>
</div>
</div>
